<div id="login">
<h1>i m you sign up</h1>
<form action="login_submit" method="get" accept-charset="utf-8">
  <label for="firstname">FirstName</label>
  <input name="name" value="">

  <label>LastName</label>
  <input name="lastname" value="">

  <label>Age</label>
  <input name="age" value="">

  <label>Address</label>
  <input type="" name="address" value="">

  <label>State</label>
  <input type="" name="state" value="">

  <label>Gender</label>
  <input type="" name="gender" value="">

  <label>Cell Number</label>
  <input type="" name="cellno" value="">

  <label>Email Address</label>
  <input type="" name="email" value="">

  <label>password</label>
  <input type="password" name="" value="">


  <label>Confirm Password</label>
  <input type="" name="password_confirmation" value="">

  <button type="Submit">Sign up</button>
</form>
</div>