<div id="signup">
<h5>Please Sign Up</h5>
<form action="/users" method="get" accept-charset="utf-8">
  <label for="firstname">FirstName</label>
  <input name="name" value=""><br><br>

  <label>LastName</label>
  <input name="lastname" value=""><br><br>

  <label>Age</label>
  <input name="age" value=""><br><br>

  <label>Address</label>
  <input type="" name="address" value=""><br><br>

  <label>State</label>
  <input type="" name="state" value=""><br><br>

  <label>Gender</label>
  <input type="" name="gender" value=""><br><br>

  <label>Cell Number</label>
  <input type="" name="cellno" value=""><br><br>

  <label>Email Address</label>
  <input type="" name="email" value=""><br><br>

  <label>password</label>
  <input type="password" name="password" value=""><br><br>


  <label>Confirm Password</label>
  <input type="password" name="password_confirmation" value=""><br><br>

  <button type="Submit">Sign up</button>
</form>
</div>