<ul id="menu">
	<li data-menuanchor="events" class="active"><a href="#events">Events</a></li>
	<li data-menuanchor="photogallery"><a href="#photogallery">Photogallery</a></li>
	<li data-menuanchor="comingup"><a href="#comingup">Coming Up Events</a></li>
	<li data-menuanchor="login"><a href="#login">Login</a></li>
	<li data-menuanchor="contactus"><a href="#contactus">Contact Us</a></li>
</ul>

<div class="section">
	
	<div id="events">
		
	</div>
</div>
<div class="section">
	<!-- <div class="slide"><h3>Slide 2 Item 1</h3></div>
	<div class="slide"><h3>Slide 2 Item 2</h3></div>
	<div class="slide"><h3>Slide 2 Item 3</h3></div> -->
	<div id='gallery'></div>
</div>
<div class="section">

	<div id='signup-view'>
		
	</div>
</div>
<div class="section">
	<div id="login-view">
		
	</div>
</div>
<div class="section">
	<h3>Slide 5</h3>
	
</div>


